<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | page Not Found </title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div class="flex min-h-screen flex-col items-center justify-center">
        <div class="container py-2">
            <div>
                <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                    alt="Workflow">
                <div class="text-center mt-16 font-medium text-indigo-600 hover:text-indigo-500"> 404 ERROR
                </div>
                <h1 class="mt-6 text-center text-5xl font-extrabold text-gray-900">页面不存在</h1>
                <p class="mt-2 text-center text-base text-gray-400">
                    对不起，可能某些原因，您访问的页面不存在
                </p>
            </div>
            <div class="text-center mt-6">
                <a class="cursor-pointer font-medium text-indigo-600 hover:text-indigo-500">返回登录</a>
            </div>
        </div>
    </div>
</body>

</html>