<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYA 登录</title>
    <link href="index.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="">LOGO</div>
    </header>
    <main>
        <form action="/oauth/authorize" method="post">
            <input id="clientId" type="text" name="client_id" value="{{client_id}}">
            <input id="redirectUri" type="text" name="redirect_uri" value="{{redirect_uri}}">
            <input type="text" name="response_type" value="code">
            <input type="text" name="state" value="state_tes">
            <button type="submit">commit</button>
        </form>
    </main>
    <footer></footer>
    <script>
        window.onload = () => {
            const locationObj = window.location
            const clientId = locationObj.search.split('&')[0].split('=')[1]
            const redirectUri = locationObj.search.split('&')[1].split('=')[1]
            document.getElementById('clientId').value = clientId
            document.getElementById('redirectUri').value = redirectUri
        }
    </script>
</body>

</html>