<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>授权页面</title>
  <link href="index.css" rel="stylesheet">
</head>

<body>
  <div class="text-pink-500">{{ message }}</div>
  <div>头像</div>
  <div>
    <label for="username">username</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" name="password">
  </div>
  <div>创建用户？</div>
</body>

</html>